@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #d5d8d8;
}

/*********bootstrap-table*********/
.bootstrap-table {
	border: 1px solid #dad5d5;
}
/*去掉边框*/
.table-bordered {
	border: 0px;
}
.table-bordered td, .table-bordered th {
	border: 0px solid #58cc25 !important;
}
.fixed-table-header {
	/* border-bottom: 1px solid #d5d8d8; */
    background-color: #eae7e7;
}
.fixed-table-pagination {
	padding: 2px;
}
.pagination-detail {
	margin: 0 !important;
}
.pagination {
	margin: 0 !important;
	height: 33.98px;
}
/*每页展示条数下拉框*/
.page-list {
	display: none !important;
}
/**间隔色,或者表格div上加table-striped*/
#table tr:nth-child(even) {
	/* background: #badadd; */
}

/*行高控制，内容过长显示控制*/
.table td {
	padding: 0.28rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*固定表头*/
#table {
	table-layout: fixed
}

/****** layui 设置 ******/
.layui-layer-title {
	height: 36px;
	line-height: 36px;
	background-color: #1bb3b0;
}

.layui-layer-setwin {
	top: 11px;
}

/******滚动条样式**********/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
	width: 2px;
	background-color: #dad5d5;
}
/*滑块*/
::-webkit-scrollbar-thumb {
	background-color: #6f6b6b;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #1bcea7;
}
/*滑道*/
::-webkit-scrollbar-track {
	box-shadow: 0 0 2px #dad5d5;
}

/*******bootstrap布局********/
/**覆盖bootstrap默认样式**/
[class*="col-"] {
   padding: 5px;
   height: 100%;
}
.container {
	width: 100%;
	height: 100%;
	padding: 5px;
	margin: 0;
}
.row {
	margin: 0;
}

.every {
	height: 100%; 
	background-color: white;
}
.every:hover {
	box-shadow: 2px 2px 10px #807979; 
}
