@charset "UTF-8";
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.menu {
    height: 40px;
	line-height: 40px;
    color: #464242;
    font-size: 16px;
    overflow: hidden;   /*不会出现挤到下面的情况*/
    cursor: pointer;
    /*字体不可被选中*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu:HOVER {
    color: white;
	background-color: #8892a0;
}

.i-icon {
	display: inline-block;
	text-align: center;
	width: 50px;
}

/**左边框动画效果*/
.left-ani {
	position: relative;
	cursor: pointer;
}

.left-ani:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	z-index: 2;
	transform: translateY(-50%); /*元素往位移自身宽度50%的距离,到达中间位置*/
}

.left-ani:hover:before {
	width: 3px;
	animation: ad_height .2s linear forwards;
	background: #19e2cc;
}

.li-ss {
	display: none;
}

@keyframes ad_height {
    from { 
       height:0	
    }
    to {
	   height: 100%
    }
}
.abc {
	animation: test 4s;
	display: block;
}
@keyframes test {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/**右边框动画效果*/
.bottom-ani {
	position: relative;
}
.bottom-ani:after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 98%;
	z-index: 2;
	transform: translate(-50%); /*元素往位移自身宽度50%的距离,到达中间位置*/
}

.bottom-ani:hover:after {
	height: 2px;
	animation: ad_width .2s linear forwards;
	background: #ff8a00;
}

@keyframes ad_width {
   from { 
      width:0	
   }

   to {
	  width: 100%
   }
}


/****/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
	position: relative;
}


/*二级菜单样式*/
.second-menu {
  display: none;
  background-color: #b3b9b9;
}

/*箭头*/
.r-arr {
	display: inline-block;
	position: absolute;
	width: 7px;
    height: 7px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    transition: transform .3s;
    top: 18px;
    right: 15px;
}

.r-arr:hover {
	border-color: white;
}

.d-arr {
	display: inline-block;
	position: absolute;
	width: 7px;
    height: 7px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(135deg);
    transition: transform .3s;
    top: 40%;
    right: 15px;
}

.d-arr:hover {
	border-color: white;
}

/*向右箭头*/
.right-arrow {
    position: relative;
}
.right-arrow:after {
    display: inline-block;
    position: absolute;
    content: " ";
    height: 8px;
    width: 8px;
    border-width: 1px 1px 0 0;
    border-color: black;
    border-style: solid;
    transform: rotate(45deg);  /*旋转45°*/
    transition: transform .3s; /*设置动画时间*/
    right: 15px;
    top: 15px;
}
.right-arrow:hover:after {
   border-color: white;
}

/*向下箭头*/
.down-arrow {
    position: relative;
}
.down-arrow:after {
    display: inline-block;
    position: absolute;
    content: " ";
    height: 8px;
    width: 8px;
    border-width: 1px 1px 0 0;
    border-color: black;
    border-style: solid;
    transform: rotate(135deg);  /*旋转135°*/
    transition: transform .3s;  /*设置动画时间*/
    right: 15px;
    top: 15px;
}
.down-arrow:hover:after {
   border-color: white;
}

/*横向列表*/
.hori-ul {
	height: 100%;
	/*文字不可选中*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hori-ul>li {
  position: relative;
  width: 90px;
  height: 100%;
  font-family: "";
  font-size: 16px;
  text-align: center;
  float: left;
}
.hori-ul>li:hover {
   cursor: pointer;
   color: white;
   background-color: #287d9a;
}

/*内容居中*/
.text-center {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
}

/*左侧导航栏展开缩小*/
.left-expand {
	float: left;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 55px;
}
.left-expand:hover {
    color: white;
    cursor: pointer;
}

/**展开的**/
.expanded-nav {
	width: 200px;
	height: 100%; 
	float: left; 
	background-color: #c3caca;
}

/**前提，左侧浮动脱离文档流，右侧自己填充满，要加边距（也就是左侧的宽度）**/
#right_nav {
	margin-left: 200px;
	height: 100%;
	/* overflow: hidden; */
	word-break: break-all; /*强制让内容换行*/
}

.absolute-span {
	position: absolute;
	display: none;
	display: inline-block;
	text-align: center;
	background-color: grey!important;
	width: 180px;
	color: black;
	left: calc(100% + 5px);
	top: 0;
}

.absolute-ul {
    position: absolute;
	display: none;
	width: 180px;
    left: calc(100% + 5px);
}

/*悬浮触发效果*/
/* .contractiveli {
	position: relative;
}

.contractiveli:hover:after {
	content: attr(data-beforeContent);  伪类生成默认是inline,必须要加content属性
	display: inline-block;
	position: absolute;
	width: 200px;
	height: 200px;
	top: 0;
	z-index: 2;  Z轴显示，最顶层
	left: calc(100% + 5px);
	border-radius: 4px;
	background-color: grey;
} */


/* .absolute-menu {
	display: inline-block;
	position: absolute;
	width: 200px;
	height: 300px;
	top: 0;
	z-index: 2;
	left: calc(100% + 5px);
	background-color: grey;
} */



.absolute-menu2 {
	/*pointer-events: none;阻止事件触发*/
	cursor: pointer;
    position: absolute;
    display: block;
    width: auto; 
    height: auto; 
    left: calc(100% + 4px); 
    top: 0; 
    border-radius: 4px;
    background-color: #8892a0; 	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.every-menu {
	display: block;
	text-align: center;
	width: 150px;
	height: 40px;
	line-height: 40px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
}

.every-menu:HOVER {
	color: white;
	background-color: #3bc7c7;
}

/*实心箭头*/
.triangle-left {
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 4px solid #8892a0;  /*#808040*/
	border-bottom: 5px solid transparent;
	left: -4px;
	top: 15px;
}

/**头部导航栏子菜单样式 **/
.fa-nav-menu {
	display: none;
	position: absolute; 
	background-color: white; 
	padding: 3px 0;
	border: 1px solid #a9a7a7;
	border-radius: 4px; 
	/*x偏移坐标值（右下为正），y偏移坐标值， 模糊程度，阴影扩展长度值， 颜色， inset:内阴影*/
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);  	
	width: 150%; 
	top: calc(100% + 2px);
	left: -25%;
	z-index: 2;
}
.nav-menu {
	display: block;
    height: 30px;
	line-height: 30px;
	color: grey;
    font-size: 14px;
    overflow: hidden;   /*不会出现挤到下面的情况*/
    /* border-radius: 7px; */
    /*字体不可被选中*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav-menu:hover {
	cursor: pointer;
	color: white;
	background-color: #8892a0;
}

/**伪类形式生成箭头**/
/*向上的箭頭2 - 气泡框*/
.ico_up {
	position: relative;
}
.ico_up::before {
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: transparent transparent #a9a7a7;     /*与所在div边框颜色保持一致颜色*/
    top: -12px;
    left: 45%;
}
.ico_up::after {
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: transparent transparent white;     /*与所在div背景色保持一致颜色*/
    top: -11px;
    left: 45%;
}

/*右下侧图标*/
.icon-right {
	width: 40px;
	height: 40px;
	font-size: 20px;
	color: #eae4e4;
	background-color: #a9a7a7;
	border-radius: 20px;
	line-height: 40px;
	text-align: center;
	position: absolute;
	top: -40px;
	right: 0px;
}
.icon-right:HOVER {
	color: white;
	transition: color .5s;   /*渐变*/
}	

/*向左的箭頭1*/
.icon-left {
    position: absolute;
}
.icon-left::before{
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    /* background-color: red; */
    border: 2px solid black; 
    border-width: 1px 0 0 1px;
    transform: translate(-50%, -50%) rotate(-45deg);
    left: 50%;
    top: 50%;
}

.ico_down {
    float: top;
    width: 0;
    height: 0;
    border: 4px solid transparent ;
    border-top-color:#B0B0B0 ;

}

/******滚动条样式**********/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: white;
}
/*滑块*/
::-webkit-scrollbar-thumb {
    background-color: #333;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}
/*滑道*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #333;
}

/*****加载页面******/
.loading {
    width: 160px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 56px;
    color: #fff;
    padding-left: 60px;
    font-size: 15px;
    background: #000 url(../../../common/img/loading.gif) no-repeat 10px 50%;
    opacity: 0.7;
    z-index: 9999;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

/**宽度为0时的边框效果**/
.aaa {
	width: 50px;
	height: 50px;
	border: 10px solid;
	border-color: yellow skyblue pink deeppink;
}

.ccc{
    width: 0px;
    height: 0px;
    border: 50px solid transparent;
    border-color: #f00 #ff0 #05f #0f0;
}




/**气泡框**/
.demo{
    width:200px;
    height:200px;
    border:2px solid #f30;
    position:relative;
}

.out, .in {
	position: absolute;
	width: 0;
	height: 0px;
}

.out {
	border: 20px solid transparent;
	border-bottom-color: #f30; /*这里的颜色一定要跟上面demo边框颜色一样*/
	top: -40px;
	left: 20%;
}

.in {
	border: 18px solid transparent;
	border-bottom-color: #fff;  /*这里的颜色一定要跟demo背景颜色一样*/
	top: -35px;
	left: 21%;
}

/**气泡框2**/
.demo2 {
	width: 200px;
	height: 100px;
	border: 2px solid #ff0;
	border-radius: 7px; /*圆角弧度为7px*/
	position: relative;
}

.demo2::before {
	content: '';
	width: 0;
	height: 0;
	border: 20px solid;
	position: absolute;
	bottom: -40px;
	left: 140px;
	border-color: #ff0 transparent transparent;
}
.demo2::after {
	content: '';
	width: 0;
	height: 0;
	border: 20px solid;
	position: absolute;
	bottom: -38px;
	left: 140px;
	border-color: #fff transparent transparent;
}