@charset "UTF-8";
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

/*去掉边框*/
.table-bordered td, .table-bordered th {
	border: 0px solid #58cc25 !important;
}

/**间隔色*/
#table tr:nth-child(even) {
	background: #badadd;
}

#table th {
	background: #badadd;
}

/*行高控制，内容过长显示控制*/
.table td {
	padding: 0.28rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*固定表头*/
#table {
	table-layout: fixed
}

/*.bootstrap-table {
            height: 100%;
        }
        .fixed-table-container{
            !*border: 1px solid #ddd;*!
            height: calc(100% - 56px);
        }*/

/****** layui 设置 ******/
.layui-layer-title {
	height: 36px;
	line-height: 36px;
	background-color: #1bb3b0;
}

.layui-layer-setwin {
	top: 11px;
}

/******滚动条样式**********/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
	width: 4px;
	background-color: #dad5d5;
}
/*滑块*/
::-webkit-scrollbar-thumb {
	background-color: #6f6b6b;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #1bcea7;
}
/*滑道*/
::-webkit-scrollbar-track {
	box-shadow: 0 0 2px #dad5d5;
}
